![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 10 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados ( Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [1]:
# Imprimindo a tupla
tupla1

NameError: name 'tupla1' is not defined

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

In [3]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [7]:
tupla1[0]

'Geografia'

In [5]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [9]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [11]:
tupla1.index('Elefantes')

2

In [13]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [15]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [17]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [19]:
type(t2)

tuple

In [21]:
type(lista_t2)

list

In [23]:
lista_t2

['A', 'B', 'C']

In [31]:
lista_t2.append('D')

In [27]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [29]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [33]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [35]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [37]:
type(estudantes_lst)

list

In [39]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [41]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [43]:
type(estudantes_dict)

dict

In [45]:
estudantes_dict["Pedro"]

24

In [47]:
estudantes_dict["Marcelo"] = 23

In [49]:
estudantes_dict["Marcelo"]

23

In [51]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [53]:
estudantes_dict.clear()

In [55]:
estudantes_dict

{}

In [57]:
del estudantes_dict

In [59]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [61]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [63]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [65]:
len(estudantes)

4

In [67]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [69]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [71]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [73]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [75]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [77]:
estudantes.update(estudantes2)

In [79]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [81]:
dic1 = {}

In [83]:
dic1

{}

In [85]:
dic1["chave_um"] = 2

In [87]:
print(dic1)

{'chave_um': 2}

In [89]:
dic1[10] = 5

In [91]:
dic1

{'chave_um': 2, 10: 5}

In [93]:
dic1[9.13] = "Python"

In [95]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [97]:
dic1["teste"] = 5

In [99]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [101]:
dict1 = {}

In [103]:
dict1

{}

In [105]:
dict1["teste"] = 10

In [107]:
dict1["key"] = "teste"

In [109]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [111]:
dict2 = {}

In [113]:
dict2["key1"] = "Data Science"

In [115]:
dict2["key2"] = 10

In [117]:
dict2["key3"] = 100

In [119]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [121]:
a = dict2["key1"]

In [123]:
b = dict2["key2"]

In [125]:
c = dict2["key3"]

In [127]:
a, b, c

('Data Science', 10, 100)

In [129]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [131]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [133]:
dict3['chave2']

[22, 453, 73.4]

In [145]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][2].upper()

'ALCATRA'

In [137]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [139]:
var1

20

In [141]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [143]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [147]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [149]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [151]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---

### Exercícios sobre Tuplas

1. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [155]:
def eh_primo(n):
    
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primos = []
numero = 101  # começamos a busca a partir de 101

while len(primos) < 10:
    if eh_primo(numero):
        primos.append(numero)
    numero += 1

tupla_primos = tuple(primos)

print("Os 10 primeiros números primos acima de 100 são:")
print(tupla_primos)

Os 10 primeiros números primos acima de 100 são:
(101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

2. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [163]:

pessoas = {}

print(" Cadastro de 5 pessoas ")
for i in range(5):
    sobrenome = input(f"\nDigite o sobrenome da {i+1}ª pessoa: ").capitalize()
    idade = int(input("Digite a idade: "))
    pessoas[sobrenome] = idade


sobrenome_mais_velho = max(pessoas, key=pessoas.get)
maior_idade = pessoas[sobrenome_mais_velho]


print("\n Resultado ")
print(f"A pessoa mais velha é {sobrenome_mais_velho}, com {maior_idade} anos.")

 Cadastro de 5 pessoas

Digite o sobrenome da 1ª pessoa:  silva
Digite a idade:  20

Digite o sobrenome da 2ª pessoa:  campos
Digite a idade:  23

Digite o sobrenome da 3ª pessoa:  albertini
Digite a idade:  29

Digite o sobrenome da 4ª pessoa:  machado
Digite a idade:  30

Digite o sobrenome da 5ª pessoa:  ricardo
Digite a idade:  24

 Resultado
A pessoa mais velha é Machado, com 30 anos.

3. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [165]:
pessoas = {}

print("Cadastro de 5 pessoas")
for i in range(5):
    nome = input(f"\nDigite o nome da {i+1}ª pessoa: ").capitalize()
    idade = int(input("Digite a idade: "))
    pessoas[nome] = idade

media_idades = sum(pessoas.values()) / len(pessoas)

print(f"\nA média das idades é: {media_idades:.1f} anos")

print("\nPessoas com idade acima da média:")
acima_media = False
for nome, idade in pessoas.items():
    if idade > media_idades:
        print(f"{nome} - {idade} anos")
        acima_media = True

if not acima_media:
    print("Nenhuma pessoa com idade acima da média.")

Cadastro de 5 pessoas

Digite o nome da 1ª pessoa:  renan
Digite a idade:  29

Digite o nome da 2ª pessoa:  pedro
Digite a idade:  20

Digite o nome da 3ª pessoa:  lucas
Digite a idade:  23

Digite o nome da 4ª pessoa:  matheus
Digite a idade:  30

Digite o nome da 5ª pessoa:  valmir
Digite a idade:  40

A média das idades é: 28.4 anos

Pessoas com idade acima da média:
Renan - 29 anos
Matheus - 30 anos
Valmir - 40 anos

4. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [178]:

lista1 = []
lista2 = []

print("=== Preenchendo a primeira lista ===")
for i in range(5):
    num = int(input(f"Digite o {i+1}º número da primeira lista: "))
    lista1.append(num)

print("\n=== Preenchendo a segunda lista ===")
for i in range(5):
    num = int(input(f"Digite o {i+1}º número da segunda lista: "))
    lista2.append(num)


conjunto_uniao = set(lista1) | set(lista2)

print("\nPrimeira lista:", lista1)
print("Segunda lista:", lista2)
print("\nConjunto da união (sem repetições):", conjunto_uniao)

=== Preenchendo a primeira lista ===

Digite o 1º número da primeira lista:  1
Digite o 2º número da primeira lista:  2
Digite o 3º número da primeira lista:  3
Digite o 4º número da primeira lista:  4
Digite o 5º número da primeira lista:  5

=== Preenchendo a segunda lista ===

Digite o 1º número da segunda lista:  6
Digite o 2º número da segunda lista:  7
Digite o 3º número da segunda lista:  8
Digite o 4º número da segunda lista:  9
Digite o 5º número da segunda lista:  10

Primeira lista: [1, 2, 3, 4, 5]
Segunda lista: [6, 7, 8, 9, 10]

Conjunto da união (sem repetições): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Fim da Aula 10